body{
	background-image: url(vallée.png);
	margin-top: 2%;
}

#container {
	width: 600px;
	margin: auto;
}
canvas {
	margin-top: 20px;
}
.case1 {
	background-color: yellow;
}



#joueur1{
	margin-right: 50px;
}
#joueur2{
	margin-left: 50px;
}
.bttour{
	background-color: darkorange;
}
.pvatt{
	font-size: 30px;
    border: outset;
    background-color: black;
    color: white;
}
#vie1, #vie2, #attaque1, #attaque2, .noms{
	font-size: 30px;
	border: outset;
    background-color: black;
    color: white;
}
.stats{
	width: 200px;
}
.titre{
	font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
img{
	margin-bottom: 10px;
}
